@font-face{
	font-family: 'open sans';
	src:url("open_sans.ttf");
}
header{
	box-shadow: rgb(150,150,150)2px 2px 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
    font-size: 2em;
}
.calc{
	border-radius:2px solid black;
    text-align:left;
    margin:1%;
    padding:2%;
    box-shadow: rgb(150,150,150)2px 2px 5px;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
    margin-left: 10%;
    display: inline-block;
}
p{
	background-color: silver;
	margin-left: 50px;
}
table{
	margin-top: 15px;
	margin-left: 20px;
	border-collapse: collapse;
	right: 10%;
}

th, td,tr {
	border: 1px solid black;
    padding: 5px;
    background-color: orange;

}

tr .nivel1{
	background-color: blue;
}
#nivel2 tr{
	background-color: red;
}
.cab{
   background:silver;
   width:900px;
   height:200px;
   margin-left:10%;
   padding:0px:
}
li{
	margin:100px;
	display:inline;
}
#reproductor-1{
	background-color: transparent;
}
.clockStyle{
	position: relative;
	padding-left: 11em;
	margin-left: 5.6em;
	margin-top: 3px;
	padding-top: 2em;
}
/*


tr #nivel3{
	background-color: cyan;
}
tr #nivel4{
	background-color: purple;
}

*/

